[submodule "rdma-env-setup"]
	path = rdma-env-setup
	url = https://github.com/datenlord/rdma-env-setup.git
	branch = main
[submodule "vendor/rdma-core"]
	path = vendor/rdma-core
	url = https://github.com/linux-rdma/rdma-core.git
